$darker-blue: #121725;
$dark-blue: #2c344B;
$blue: #5a668a;
$light-blue: #c2cbe5;
$green: #54e6af;
$light-green: #b3ffe2;
$white: #ffffff;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chivo', sans-serif;
    background-color: $darker-blue;
    background-image: url(../assets/desktop/image-host.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: $light-blue;
    padding: 100px 165px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}


/******** TEXT ********/

.cta {
    background-color: $darker-blue;
    padding: 88px 50px 0 0;
    max-width: 723px;
    margin-top: 125px;
}

h1 {
    font-size: 52px;
    color: $green;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 62px;
    margin-bottom: 24px;
}

p {
    margin-bottom: 40px;
    max-width: 445px;
}

span {
    color: $white;
}

/******** FORM ********/

form {
    background-color: $dark-blue;
    max-width: 415px;
    border-radius: 28px;
    margin-bottom: 64px;
}

input {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

label {
    visibility: hidden;
}

input[type=email] {
    padding: 15px 0;
}

input[type=submit] {
    background-color: $green;
    color: $darker-blue;
    padding: 18px 27px;
    text-transform: capitalize;
    border-radius: 28px;

    &:hover {
        cursor: pointer;
        background-color: $light-green;
    }
}


/******** LOGOS ********/
.logos {
    display: flex;
    justify-content: start;
    align-items: center;

}

.logos a {
    margin-right: 40px;
    color: $blue;
}

.dots {
    float: right;
    margin-top: -65px;
    margin-right: -150px;
}