$darker-blue: #121725;
$dark-blue: #2c344B;
$blue: #5a668a;
$light-blue: #c2cbe5;
$green: #54e6af;
$light-green: #b3ffe2;
$white: #ffffff;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Chivo', sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    color: $light-blue;
    background-color: $darker-blue;
}

h1 {
    font-size: 2.9rem;
    line-height: 1.2;
    color: $white;
}

button {
    border-radius: 28px;
    background-color: $green;
    color: $darker-blue;
    font-weight: bold;
    font-size: .8rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease-in;
}

button:hover {
    background-color: $light-green;
}

input {
    border-radius: 28px;
    background-color: $dark-blue;
    border: none;
    padding: 1rem;
    color: $white;
    text-transform: uppercase;
}

header {
    padding-top: 7.2rem;
}

::placeholder {
    color: $light-blue;
}
/* Text only for screen readers */
.hidden-text {
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.error-msg {
    font-size: .7rem;
    color: #fb3e3e;
}

